.banner{
    background: url('../styleElements/circles5.svg') white;
    /* height: 100%;
    width: 180%; */
    background-size: 200%;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', cursive;
  }

  .nav-stuff{
    background-color: #B1F1EE;
  }

 
  .ml-box{
    height: 800px;
    background-color: #B8E8FF;
    
  }
  
  #waveform{
    font-size: 100px;
    font-family: 'El Messiri', sans-serif;
  }

  body{
    background-color: #D0F7F5;
    /* background-image: url("../styleElements/playgroundBackground.svg");
    background-repeat: repeat-x; */
    
  }

  input:invalid {
    border: solid red 3px;
  }

  .grass{
    background-color: #3D8036;
    width: 100%;
    height: 800px;
    background-image: url("../styleElements/playgroundBackground.svg");
    background-repeat: repeat-x;
    margin-top: -370px;
  }

  .info-box{
    height: 100px;
    background-color: #f5d349;
    padding: 1%;
    border-radius: 6px;
    box-shadow:5px 5px #a8d3d1;
  }

  .slide{
    padding-right:50%;
    height:500px;
    width: auto;
    position: fixed;
    align: center;
  }

  .other{
    background-color: teal;
  }

  .img-overlay-wrap{
    background-image: url("../styleElements/earth.svg");
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}