.banner{
    background: url('../styleElements/circles3.svg') white;
    /* height: 100%;
    width: 180%; */
    background-size: 200%;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', cursive;
  }

  .nav-stuff{
    background-color: #B1F1EE;
  }

 
  .ml-box{
    height: 100%;
    width: auto;
    background-color: #B8E8FF;
    
  }
  

  body{
    background-color: #E5FFE3;
  }

  .center{
    text-align: center;
  }

  .header-box{
    height: 70px;
    width: auto;
    background-color: #fffeb8;
    box-shadow: -5px 5px teal;
  }

  .header{
    font-family: 'Spartan', sans-serif;
    font-size: 35px;
    padding: 15px;
  }