/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #EEFFF8;
}

h1 {
  font-size: 100px;
}

h3 {
  font-size: 30px;
}


.map-box{
  height: 1000px;
  background-color: #8FA1DC;
  
}
.main-header{
  animation: shrink 10s infinite alternate steps(100);

}
.risk-box{
  background-color: #B8E8FF;
  height: auto;
  width: 210px;
  margin: 2%;
  padding: 1%;
}

.explanation-box{
  background-color: #f7dc6f;
  margin: 3%;
  padding: 3%;
  width: 740px;
}
.nav-stuff{
  background-color: #B1F1EE;
}

.dice-icon{
  z-index: 1;
  width: 60%;
  height: auto;
  background-color: none;
  display: block;
  text-align: center;
  margin: auto;
}

.markers-icon{
  z-index: 1;
  width: 60%;
  height: auto;
  background-color: none;
  display: block;
  text-align: center;
  margin: auto;

}

.pound-icon{
  z-index: 1;
  width: 40%;
  height: auto;
  background-color: none;
  display: block;
  text-align: center;
  margin: auto;

}

  .banner{
    background: url('styleElements/circles.svg') white;
    /* height: 100%;
    width: 180%; */
    background-size: 270%;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', cursive;
  }
  /* @keyframes shrink {
    from {
      transform: scale(1.0)
    }
    to {
      transform: scale(1.1)
    }
  } */

  .center{
    text-align: center;
  }

  #map { 
    top: 0; 
    bottom: 0; 
    height: 700px; }
