<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Play With Quakes!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/earthquakePlayground.css">
</head>
<body>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light nav-stuff">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../mapbox/vizDashboard.html">Locate a Quake!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="earthquakePlayground.html">Earthquake Playground</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="machineLearning.html">Machine Learning</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid banner">
    <div class="container">
      <h1 class="display-4 main-header">Earthquake Playground</h1>
      <!-- <p class="lead left">Click on your county to see if you're at risk</p> -->
    </div>
  </div>
  <div class="containter">
    <div class="row">
        <div class='col-md-4'>
            <br>
            <br>
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="Magnitude">
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="Depth">
        </div>
        <div class='col-md-4'>
            <form method="POST">
            <input name="variable" class="form-control form-control-lg" type="text" placeholder="Distance to Epicenter">
            <input type="submit">
            </form>
            <br>
            <svg height='400' width='400'>
                <circle cx="200" cy="170" r="160" stroke="none" fill="#FF7F50" />
                <circle cx="200" cy="170" r="140" stroke="none" fill="#f8c471" />
                <circle cx="200" cy="170" r="120" stroke="none" fill="#F7DC6F" />
                <text id='waveform' x="200" y='170' text-anchor="middle" dy=".3em">ML</text>
            </svg> 

        </div>
        <div class='col-md-4'>
            <br>
            <br>
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="Azimuthal Gap">
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="Root Mean Square">

        </div>
      
    </div>
      

  </div>
  
  
  <!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
