<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Play With Quakes!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/earthquakePlayground.css">
</head>

<body>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light nav-stuff">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dashboard">Locate a Quake!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="playground">Earthquake Playground</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="machinelearning">Machine Learning</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid banner">
    <div class="container">
      <h1 class="display-4 main-header">Earthquake Playground</h1>
      <p class="lead left">Play with quakes!</p>
    </div>
  </div>
  <div class="playground containter">
    <div class="row">
      <div class='col-md-4'>
        <br>
        <br>
        <br>
        <!-- Input row -->
        <div class="row">
          <!-- Magnitude Icon -->
          <div class="col-md-3">
            <div class="icon-box">
              <img height="60%" src="../static/styleElements/magnitude.svg">

            </div>
          </div>
          <!-- MAGNITUDE INPUT -->
          <div class="col-md-8">
            <div class="info-box">
              <input class="form-control form-control-lg" min="0.0" max="10.0" step="0.1" type="number"
            placeholder="Magnitude">
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <!-- Depth Icon -->
          <div class="col-md-3">
            <div class="icon-box">
              <img height="60%" src="../static/styleElements/depth.svg">
            </div>
          </div>
          <!-- DEPTH INPUT -->
          <div class="col-md-8">
            <div class="info-box">
              <input class="form-control form-control-lg" min="0.0" max="645" step="15" type="number" placeholder="Depth">
            </div>
          </div>
        </div>

      </div>
      <div class='col-md-4'>
        <div class="row">
          <!-- Distance to Epicenter Icon -->
          <div class="col-md-3">
            <div class="icon-box">
              <img height="60%" src="../static/styleElements/distance.svg">
            </div>
          </div>
          <!-- DISTANCE TO EPICENTER INPUT -->
          <div class="col-md-8">
            <div class="info-box">
              <input name="variable" class="form-control form-control-lg" min="0" max="65" step="5" type="number"
            placeholder="Distance to Epicenter">
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <svg class="img-overlay-wrap" viewBox="0 0 400 400">


          <circle class="mlCircle" cx="200" cy="200" r="150" stroke="none" fill="#F7DC6F" />

          <!-- ###### MACHINE LEARNING OUTPUT FIELD ###### -->
          <text id='waveform' x="200" y='200' text-anchor="middle" dy=".3em">ML</text>
        </svg>
        <button type="submit" class="btn btn-outline-danger">Submit</button>
      </div>
      <div class='col-md-4'>
        <br>
        <br>
        <br>
        <div class="row">
          <!-- Azimuthal Gap Icon -->
          <div class="col-md-3">
            <div class="icon-box">
              <img height="60%" src="../static/styleElements/azimuthalGap.svg">
            </div>
          </div>
          <!-- AZIMUTHAL GAP INPUT -->
          <div class="col-md-8">
            <div class="info-box">
              <input class="form-control form-control-lg" min="10" max="360" step="20" type="number"
            placeholder="Azimuthal Gap">
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <!-- Root Square Icon -->
          <div class="col-md-3">
            <div class="icon-box">
              <img height="60%" src="../static/styleElements/rootMeanSquare.svg">
            </div>
          </div>
          <!-- Root Mean Square Input -->
          <div class="col-md-8">
            <div class="info-box">
              <input class="form-control form-control-lg" min="0.00" max="13.90" step="0.10" type="number"
            placeholder="Root Mean Square">
            </div>
          </div>
        </div>

      </div>


    </div>
    <!-- <div class="row"> -->

    <div class="grass">

    </div>
    <!-- </div> -->


  </div>


  <!-- Scripts -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="../static/js/earthquakePlayground.js"></script>

</body>

</html>