<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>When's The Next Big One?</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<!-- Our CSS -->
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light nav-stuff">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../mapbox/vizDashboard.html">Locate a Quake!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="machineLearning.html">Machine Learning</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Banner -->
  <div class="jumbotron jumbotron-fluid banner">
    <div class="container">
      <h1 class="display-4 main-header">When's the next Big One?</h1>
      <p class="lead left">Click on your county to see if you're at risk</p>
    </div>
  </div>
  <div class="containter">
    
    <!-- Main row -->
    <div class="row">
      <!-- Main columns -->
      
      <!-- Map -->
      <div id='map' class="col-md-6">



      </div>
      <!-- Risk boxes -->
      <div class="col-md-6">
        <div class="row">
          <div class="explanation-box">
            <p>Earthquakes, much like other natural disasters, 
              are unpredictable. We can however, use the data available 
              to us to forecast the liklihood of an earthquake's occurrence in a given area.</p>
          </div>
        </div>
        <div class="row">
          <!-- Liklihood -->
          <div class="risk-box">
            <img class="dice-icon" src="../static/styleElements/dice.svg"></img>
            <br>
            <h2 class="center">0.75</h2>
            <p class="center">Liklihood of Quake</p>
          </div>
          <!-- Nearest Fault -->
          <div class="risk-box">
            <img class="markers-icon" src="../static/styleElements/markers.svg"></img>
            <br>
            <h2 class="center">San Andreas Fault</h2>
            <p class="center">Is your nearest fault</p>
          </div>
          <!-- Num earthquakes -->
          <div class="risk-box">
            <img class="pound-icon" src="../static/styleElements/pound.svg"></img>
            <br>
            <h2 class="center">12</h2>
            <p class="center">Earthquakes have occurred in this area in the last month</p>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  
  
  <!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
